body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #fff;
  padding: 15px 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

.hero {
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  color: white;
  padding: 60px;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4e73df;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-content,
.accordion-content {
  display: none;
  margin-top: 10px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.show {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}
.gallery img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  display: none; /* stays hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; /* ONLY when active */
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.accordion-btn {
  width: 100%;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
  background: #ccc;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}
